{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>Thomas PINTO-PICOT</h1>
    <p>Web Developer Pro in PHP/C++/Kotlin/Python</p>
    <p></p>
    <p>Here you will be able to see my <a href="/projets"> projects </a></p>
</div>
{% endblock %}
