{% extends 'base.html.twig' %}

{% block title %}Hello ProjController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
<h1>Pour ajouter un projet : </h1>
{{ form_start(form) }}
        {{ form_label(form.Titre) }}
        {{ form_widget(form.Titre) }}
   
        {{ form_label(form.Description) }}
        {{ form_widget(form.Description) }}
        {{ form_label(form.image1) }}
        {{ form_widget(form.image1) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}


</div>
{% endblock %}
