<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('projets') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('projets') }}
        {% endblock %}
    </head>
    <body>
    <ul style="list-style:none">
    <navbar style="display:flex; justify-content: space-evenly;" class="navbar navbar-expand-lg navbar-light bg-light">
    <li>
    <a href="/" class="btn btn-primary">Accueil</a>
    </li>
    <li>
    <a href="/projets" class="btn btn-primary">Projets</a>
    </li>
    </ul>
    </navbar>
        {% block body %}{% endblock %}
    </body>
</html>
