{% extends 'base.html.twig' %}

{% block title %}Hello ProjetsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div>
<h1>Voici tous mes projets:</h1>
    {% for post in projets %}
    <div class="row row-cols-1 row-cols-md-2 g-4" style="width:50%">
  <div class="col">
    <div class="card">
    <img src="{{post.image1}}" class="card-img-top"></p>
    <div class="card-body">
        <h5 class="card-title">{{ post.Titre }}</h5>
        <p class="card-text">{{ post.Description }}</p>
         </div>
         <a href="{{post.repo}}" class="btn btn-primary">Go somewhere</a>
</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
